<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="plugins/course-discovery/tests/bootstrap-integration.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="integration">
            <directory>plugins/course-discovery/tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
